/* curriculum.css */

/* Estilo para el contenedor principal */
.curriculum-container {
    text-align: center;
    background: linear-gradient(to bottom, #0f1e56, #0a1c4a);
    padding: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilo para la descripción del currículum */
.descripcion {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
    line-height: 1.8;
}

/* Estilo para las imágenes de las redes sociales */
.curriculum-img-small {
    display: inline-block;
    margin: 20px 10px;
    width: 100px;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto de zoom y sombra al pasar el ratón */
.curriculum-img-small:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* Estilo para la imagen del currículum */
.curriculum-img {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    max-height: 80vh;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto de zoom y sombra al pasar el ratón */
.curriculum-img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

/* Estilo para los enlaces */
a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

a:hover {
    color: #ffd700;
}

/* Consultas de medios para dispositivos móviles */
@media only screen and (max-width: 768px) {
    .curriculum-container {
        padding: 30px; /* Ajustamos el padding */
    }

    .descripcion {
        font-size: 18px; /* Reducimos el tamaño del texto */
    }

    .curriculum-img-small {
        width: 80px; /* Reducimos el tamaño de las imágenes */
    }
}
